
<div class="container">
  <header class="d-flex justify-content-center py-3">
    <ul class="nav nav-pills">
      <li class="nav-item"><a href="#" class="nav-link active" aria-current="page">Home</a></li>
      <li class="nav-item"><a href="#" class="nav-link">Repos</a></li>
      <!-- <li class="nav-item"><a href="#" class="nav-link">Pricing</a></li>
      <li class="nav-item"><a href="#" class="nav-link">FAQs</a></li>
      <li class="nav-item"><a href="#" class="nav-link">About</a></li> -->
    </ul>
  </header>
</div>

<div class="container-fluid col-xl-10 col-xxl-8 px-4 py-5">
  <div class="row align-items-center g-lg-5 py-5">
    <div class="col-lg-7 text-center text-lg-start">
      <h1 class="display-4 fw-bold lh-1 mb-3">Git Search</h1>
      <p class="col-lg-10 fs-4">Enter a git username and see the repositories a github user has.</p>
    </div>
    <div class="col-md-10 mx-auto col-lg-5">
      <form class="p-4 p-md-5 border rounded-3 bg-light">
        <div class="form-floating mb-3">
          <input type="text" class="form-control" id="floatingInput" placeholder="search git username" [(ngModel)]="username" name="username" keyup="findUserDetails()">
          <label for="floatingInput">Enter Git Username</label>
        </div>
        <!-- <div class="form-floating mb-3">
          <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
          <label for="floatingPassword">Password</label>
        </div> -->
        <!-- <div class="checkbox mb-3">
          <label>
            <input type="checkbox" value="remember-me"> Remember me
          </label>
        </div> -->
        <button class="w-100 btn btn-lg btn-primary" type="submit">Search User</button>
        <hr class="my-4">
        
      </form>
    </div>
  </div>
</div>

<div class="b-example-divider"></div>


<div class="row" *ngIf="gitUser" >
  <div class="col-4">
    <div class="profile">
      <div class="card" style="width: 18rem;">
        <img src="{{gitUser.avatar_url}}" class="card-img-top" alt="{{gitUser.name}}">
        <div class="card-body">
          <h5 class="card-title">{{gitUser.name}}</h5>
          <p class="card-text">{{gitUser.bio}}</p>
          <a href="#" class="btn btn-primary">View Repositories</a>
        </div>
      </div>
    </div>
  </div>

  <div class="col-8">
    <h6 class="border-bottom pb-2 mb-0 bg-light">Repositories</h6>
    <div class="list-group" *ngFor="let repo of gitRepo">
      <a href="#" class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
        <!-- <img src="https://github.com/twbs.png" alt="twbs" width="32" height="32" class="rounded-circle flex-shrink-0"> -->
        <div class="d-flex gap-2 w-100 justify-content-between">
          <div>
            <h6 class="mb-0">{{repo.name}}</h6>
        
            <p class="mb-0 opacity-75">{{repo.description}}</p>
          </div>
          <small class="opacity-50 text-nowrap">{{repo.created_at}}</small>
        </div>
      </a>   
     
    </div>

  </div>
</div>

<!-- <div *ngIf="gitUser">

  <div class="panel panel-default">
    <div class="panel-heading">
      {{gitUser.name}} 
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-sm-3">
          <img src="{{gitUser.avatar_url}}" class="img-circle" alt="git profile image">
        </div>
        <div class="col-sm-5">
          <ul class="list-group">
            <li class="list-group-item" *ngIf="gitUser.bio"> <a href="#" target="_blank">{{gitUser.bio}}</a></li>
            <li class="list-group-item" *ngIf="gitUser.blog"> <a href="#" target="_blank">{{gitUser.blog}}</a></li>
            <li class="list-group-item" *ngIf="gitUser.email"> <a href="emailto:{{gitUser.email}}">{{gitUser.email}}</a></li>
           
          </ul>
        </div>
      </div>
    </div>

  </div>

  <div class="panel panel-default">
    <div class="panel-heading">

    </div>
    <div class="panel-body" *ngFor="let repo of gitRepo")>
      <p>{{repo.name}}</p>
      <p>{{repo.name}}<a href="{{repo.html_url}}" target="_blank"> View this project on github </a></p>
      <p>{{repo.description}}</p>
    </div>                                
  </div>
</div> -->

<nav class="navbar fixed-bottom navbar-expand-sm navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Git Search</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        
        
        <li class="nav-item dropup">
          <a class="nav-link dropdown-toggle" href="#" id="dropdown10" data-bs-toggle="dropdown" aria-expanded="false">Dropup</a>
          <ul class="dropdown-menu" aria-labelledby="dropdown10">
            <li><a class="dropdown-item" href="#">Users</a></li>
            <li><a class="dropdown-item" href="#">Repositories</a></li>
            <!-- <li><a class="dropdown-item" href="#">Something else here</a></li> -->
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>