<div *ngIf="gitUser">

  <div class="panel panel-default">
    <div class="panel-heading">
      {{gitUser.name}} 
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-sm-3">
          <img src="{{gitUser.avatar_url}}" class="img-circle" alt="git profile image">
        </div>
        <div class="col-sm-5">
          <ul class="list-group">
            <li class="list-group-item" *ngIf="gitUser.bio"> <a href="#" target="_blank">{{gitUser.bio}}</a></li>
            <li class="list-group-item" *ngIf="gitUser.blog"> <a href="#" target="_blank">{{gitUser.blog}}</a></li>
            <li class="list-group-item" *ngIf="gitUser.email"> <a href="emailto:{{gitUser.email}}">{{gitUser.email}}</a></li>
           
          </ul>
        </div>
      </div>
    </div>

  </div>

  <div class="panel panel-default">
    <div class="panel-heading">

    </div>
    <div class="panel-body" *ngFor="let repo of gitRepo")>
      <p>{{repo.name}}</p>
      <!-- <p>{{repo.name}}<a href="{{repo.html_url}}" target="_blank"> View this project on github </a></p> -->
      <p>{{repo.description}}</p>
    </div>                                
  </div>
</div>